body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.middle{
  padding-top: 20%;
}



.MuiAppBar-colorPrimary{
  background-color: #f50057 !important;
}

.idCard{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  height: 20vh;
}
